<!DOCTYPE html>

<head>
  <title>Google</title>
  <link id="google" />
  <!-- <link rel="icon" id="google" href="https://seeklogo.com/images/N/new-google-favicon-logo-5E38E037AF-seeklogo.com.png"> -->
  <link rel="stylesheet" href="logo.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
    rel="stylesheet"
  />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
</head>

<body>


  <div id="google"></div>
</body>
